* text=auto !eol
/README.txt -text
rnaseq/__init__.py -text
rnaseq/box/__init__.py -text
rnaseq/box/boxes.ini -text
rnaseq/box/boxes.py -text
rnaseq/box/config.py -text
rnaseq/box/resources.ini -text
/setup.cfg -text
/setup.py -text
/version.txt -text
